<div class="row">
  <div class="small-12 columns callout primary">
    <div class="small-6 columns">
      <h1>Welcome to Toy City!</h1>
    </div>
    <div class="small-6 columns">
      <h1></h1>
    </div>
  </div>
</div>
<%= image_tag("toycity.jpg", :alt => "Toy City Main", class: "feature-image") %>
